/back/*.sln
/back/.vs
/back/test_connect/bin
/back/test_connect/obj
/back/test_connect/Pages
/back/test_connect/Properties
/back/test_connect/wwwroot
/back/test_connect/appsettings.Development.json
/back/test_connect/appsettings.json
/back/test_connect/*csproj
/front/package.json
/front/.vscode
/front/build
/front/node_modules
/front/static
/front/test
/front/.babelrc
/front/.editorconfig
/front/.eslintignore
/front/.eslintrc.js
/front/.gitignore
/front/.postcssrc.js
/front/index.html
/front/package-lock.json
